extends layout

block content
  // ======= Header =======
  header#header
    .container.d-flex.align-items-center
      .logo.mr-auto
        h1.text-light
          a(href='index.html')
            | Bicicleitor
            span .
        // Uncomment below if you prefer to use an image logo
        // <a href="index.html"><img src="/images/logo.png" alt="" class="img-fluid"></a>
      nav.nav-menu.d-none.d-lg-block
        ul
          li.active
            a(href='index.html') Home
          li
            a(href='#about') About Us
          li
            a(href='#services') Services
          li
            a(href='#portfolio') Portfolio
          li
            a(href='#team') Team
          li
            a(href='bicicletas') Bicicletas
          li.drop-down
            a(href='') Drop Down
            ul
              li
                a(href='#') Drop Down 1
              li.drop-down
                a(href='#') Drop Down 2
                ul
                  li
                    a(href='#') Deep Drop Down 1
                  li
                    a(href='#') Deep Drop Down 2
                  li
                    a(href='#') Deep Drop Down 3
                  li
                    a(href='#') Deep Drop Down 4
                  li
                    a(href='#') Deep Drop Down 5
              li
                a(href='#') Drop Down 3
              li
                a(href='#') Drop Down 4
              li
                a(href='#') Drop Down 5
          li
            a(href='#contact') Contact Us
          li.get-started
            a(href='#about') Get Started
      // .nav-menu
  // End Header
  // ======= Hero Section =======
  section#hero
    .container
      .row.d-flex.align-items-center
        .col-lg-6.py-5.py-lg-0.order-2.order-lg-1(data-aos='fade-right')
          h1 Tu comunidad de bicicletas.
          h2 Somos la comunidad de bicicletas mas grande de la cuidad.
          a.btn-get-started.scrollto(href='#about') Get Started
        .col-lg-6.order-1.order-lg-2.hero-img(data-aos='fade-left')
          img.img-fluid(src='/images/bicycle.png' alt='')
  // End Hero
  main#main
    // ======= Clients Section =======
    section#clients.clients.section-bg
      .container
        .row.no-gutters.clients-wrap.clearfix.wow.fadeInUp
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-1.png' alt='' data-aos='flip-right')
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-2.png' alt='' data-aos='flip-right' data-aos-delay='100')
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-3.png' alt='' data-aos='flip-right' data-aos-delay='200')
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-4.png' alt='' data-aos='flip-right' data-aos-delay='300')
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-5.png' alt='' data-aos='flip-right' data-aos-delay='400')
          .col-lg-2.col-md-4.col-6
            .client-logo
              img.img-fluid(src='/images/clients/client-6.png' alt='' data-aos='flip-right' data-aos-delay='500')
    // End Clients Section
    // ======= About Section =======
    section#about.about.section-bg
      .container
        .row
          .image.col-xl-5.d-flex.align-items-stretch.justify-content-center.justify-content-lg-start
          .col-xl-7.pl-0.pl-lg-5.pr-lg-1.d-flex.align-items-stretch
            .content.d-flex.flex-column.justify-content-center
              h3(data-aos='fade-in' data-aos-delay='100') Voluptatem dignissimos provident quasi
              p(data-aos='fade-in')
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              .row
                .col-md-6.icon-box(data-aos='fade-up')
                  i.bx.bx-receipt
                  h4
                    a(href='#') Corporis voluptates sit
                  p
                    | Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip
                .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='100')
                  i.bx.bx-cube-alt
                  h4
                    a(href='#') Ullamco laboris nisi
                  p
                    | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='200')
                  i.bx.bx-images
                  h4
                    a(href='#') Labore consequatur
                  p Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere
                .col-md-6.icon-box(data-aos='fade-up' data-aos-delay='300')
                  i.bx.bx-shield
                  h4
                    a(href='#') Beatae veritatis
                  p Expedita veritatis consequuntur nihil tempore laudantium vitae denat pacta
            // End .content
    // End About Section
    // ======= Services Section =======
    section#services.services.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Services
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row
          .col-md-6.d-flex.align-items-stretch(data-aos='fade-right')
            .card
              .card-img
                img(src='/images/services-1.jpg' alt='...')
              .card-body
                h5.card-title
                  a(href='') Temporibus laudantium
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                .read-more
                  a(href='#')
                    i.icofont-arrow-right
                    |  Read More
          .col-md-6.d-flex.align-items-stretch(data-aos='fade-left')
            .card
              .card-img
                img(src='/images/services-2.jpg' alt='...')
              .card-body
                h5.card-title
                  a(href='') Aperiores voluptates
                p.card-text
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo
                .read-more
                  a(href='#')
                    i.icofont-arrow-right
                    |  Read More
          .col-md-6.d-flex.align-items-stretch(data-aos='fade-right')
            .card
              .card-img
                img(src='/images/services-3.jpg' alt='...')
              .card-body
                h5.card-title
                  a(href='') Veritatis natus nisi
                p.card-text
                  | Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit, sed quia magni dolores eos qui ratione voluptatem sequi nesciunt Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet
                .read-more
                  a(href='#')
                    i.icofont-arrow-right
                    |  Read More
          .col-md-6.d-flex.align-items-stretch(data-aos='fade-left')
            .card
              .card-img
                img(src='/images/services-4.jpg' alt='...')
              .card-body
                h5.card-title
                  a(href='') Aliquam veritatis
                p.card-text
                  | Nostrum eum sed et autem dolorum perspiciatis. Magni porro quisquam laudantium voluptatem. In molestiae earum ab sit esse voluptatem. Eos ipsam cumque ipsum officiis qui nihil aut incidunt aut
                .read-more
                  a(href='#')
                    i.icofont-arrow-right
                    |  Read More
    // End Services Section
    // ======= Features Section =======
    section#features.features.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Bicicleta
        #main_map  
    // End Features Section
    // ======= Portfolio Section =======
    section#portfolio.portfolio.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Portfolio
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row
          .col-lg-12
            ul#portfolio-flters
              li.filter-active(data-filter='*') All
              li(data-filter='.filter-app') App
              li(data-filter='.filter-card') Card
              li(data-filter='.filter-web') Web
        .row.portfolio-container(data-aos='fade-up')
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-1.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-1.jpg' data-gall='portfolioGallery' title='App 1')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 App 1
                p App
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-2.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-2.jpg' data-gall='portfolioGallery' title='Web 3')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Web 3
                p Web
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-3.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-3.jpg' data-gall='portfolioGallery' title='App 2')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 App 2
                p App
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-4.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-4.jpg' data-gall='portfolioGallery' title='Card 2')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Card 2
                p Card
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-5.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-5.jpg' data-gall='portfolioGallery' title='Web 2')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Web 2
                p Web
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-6.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-6.jpg' data-gall='portfolioGallery' title='App 3')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 App 3
                p App
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-7.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-7.jpg' data-gall='portfolioGallery' title='Card 1')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Card 1
                p Card
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-8.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-8.jpg' data-gall='portfolioGallery' title='Card 3')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Card 3
                p Card
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              img.img-fluid(src='/images/portfolio/portfolio-9.jpg' alt='')
              .portfolio-links
                a.venobox(href='/images/portfolio/portfolio-9.jpg' data-gall='portfolioGallery' title='Web 3')
                  i.icofont-plus-circle
                a(href='portfolio-details.html' title='More Details')
                  i.icofont-link
              .portfolio-info
                h4 Web 3
                p Web
    // End Portfolio Section
    // ======= Team Section =======
    section#team.team.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Team
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row
          .col-xl-3.col-lg-4.col-md-6
            .member(data-aos='fade-up')
              .pic
                img(src='/images/team/team-1.jpg' alt='')
              h4 Walter White
              span Chief Executive Officer
              .social
                a(href='')
                  i.icofont-twitter
                a(href='')
                  i.icofont-facebook
                a(href='')
                  i.icofont-instagram
                a(href='')
                  i.icofont-linkedin
          .col-xl-3.col-lg-4.col-md-6
            .member(data-aos='fade-up' data-aos-delay='100')
              .pic
                img(src='/images/team/team-2.jpg' alt='')
              h4 Sarah Jhinson
              span Product Manager
              .social
                a(href='')
                  i.icofont-twitter
                a(href='')
                  i.icofont-facebook
                a(href='')
                  i.icofont-instagram
                a(href='')
                  i.icofont-linkedin
          .col-xl-3.col-lg-4.col-md-6
            .member(data-aos='fade-up' data-aos-delay='200')
              .pic
                img(src='/images/team/team-3.jpg' alt='')
              h4 William Anderson
              span CTO
              .social
                a(href='')
                  i.icofont-twitter
                a(href='')
                  i.icofont-facebook
                a(href='')
                  i.icofont-instagram
                a(href='')
                  i.icofont-linkedin
          .col-xl-3.col-lg-4.col-md-6
            .member(data-aos='fade-up' data-aos-delay='300')
              .pic
                img(src='/images/team/team-4.jpg' alt='')
              h4 Amanda Jepson
              span Accountant
              .social
                a(href='')
                  i.icofont-twitter
                a(href='')
                  i.icofont-facebook
                a(href='')
                  i.icofont-instagram
                a(href='')
                  i.icofont-linkedin
    // End Team Section
    // ======= Pricing Section =======
    section#pricing.pricing.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Pricing
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row.no-gutters
          .col-lg-4.box(data-aos='zoom-in')
            h3 Free
            h4
              | $0
              span per month
            ul
              li
                i.bx.bx-check
                |  Quam adipiscing vitae proin
              li
                i.bx.bx-check
                |  Nec feugiat nisl pretium
              li
                i.bx.bx-check
                |  Nulla at volutpat diam uteera
              li.na
                i.bx.bx-x
                span Pharetra massa massa ultricies
              li.na
                i.bx.bx-x
                span Massa ultricies mi quis hendrerit
            a.get-started-btn(href='#') Get Started
          .col-lg-4.box.featured(data-aos='zoom-in')
            span.featured-badge Featured
            h3 Business
            h4
              | $29
              span per month
            ul
              li
                i.bx.bx-check
                |  Quam adipiscing vitae proin
              li
                i.bx.bx-check
                |  Nec feugiat nisl pretium
              li
                i.bx.bx-check
                |  Nulla at volutpat diam uteera
              li
                i.bx.bx-check
                |  Pharetra massa massa ultricies
              li
                i.bx.bx-check
                |  Massa ultricies mi quis hendrerit
            a.get-started-btn(href='#') Get Started
          .col-lg-4.box(data-aos='zoom-in')
            h3 Developer
            h4
              | $49
              span per month
            ul
              li
                i.bx.bx-check
                |  Quam adipiscing vitae proin
              li
                i.bx.bx-check
                |  Nec feugiat nisl pretium
              li
                i.bx.bx-check
                |  Nulla at volutpat diam uteera
              li
                i.bx.bx-check
                |  Pharetra massa massa ultricies
              li
                i.bx.bx-check
                |  Massa ultricies mi quis hendrerit
            a.get-started-btn(href='#') Get Started
    // End Pricing Section
    // ======= Frequently Asked Questions Section =======
    section#faq.faq.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Frequently Asked Questions
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row.faq-item.d-flex.align-items-stretch(data-aos='fade-up')
          .col-lg-5
            i.bx.bx-help-circle
            h4 Non consectetur a erat nam at lectus urna duis?
          .col-lg-7
            p
              | Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
        // End F.A.Q Item
        .row.faq-item.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='100')
          .col-lg-5
            i.bx.bx-help-circle
            h4 Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
          .col-lg-7
            p
              | Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim.
        // End F.A.Q Item
        .row.faq-item.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='200')
          .col-lg-5
            i.bx.bx-help-circle
            h4 Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi?
          .col-lg-7
            p
              | Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus.
        // End F.A.Q Item
        .row.faq-item.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='300')
          .col-lg-5
            i.bx.bx-help-circle
            h4 Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
          .col-lg-7
            p
              | Aperiam itaque sit optio et deleniti eos nihil quidem cumque. Voluptas dolorum accusantium sunt sit enim. Provident consequuntur quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda soluta sunt pariatur error doloribus fuga.
        // End F.A.Q Item
        .row.faq-item.d-flex.align-items-stretch(data-aos='fade-up' data-aos-delay='400')
          .col-lg-5
            i.bx.bx-help-circle
            h4 Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
          .col-lg-7
            p
              | Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
        // End F.A.Q Item
    // End Frequently Asked Questions Section
    // ======= Contact Section =======
    section#contact.contact.section-bg
      .container
        .section-title
          h2(data-aos='fade-in') Contact
          p(data-aos='fade-in')
            | Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.
        .row
          .col-lg-6
            .row
              .col-md-12
                .info-box(data-aos='fade-up')
                  i.bx.bx-map
                  h3 Our Address
                  p A108 Adam Street, New York, NY 535022
              .col-md-6
                .info-box.mt-4(data-aos='fade-up' data-aos-delay='100')
                  i.bx.bx-envelope
                  h3 Email Us
                  p
                    | info@example.com
                    br
                    | contact@example.com
              .col-md-6
                .info-box.mt-4(data-aos='fade-up' data-aos-delay='100')
                  i.bx.bx-phone-call
                  h3 Call Us
                  p
                    | +1 5589 55488 55
                    br
                    | +1 6678 254445 41
          .col-lg-6
            form.php-email-form(action='forms/contact.php' method='post' role='form' data-aos='fade-up')
              .form-row
                .col-md-6.form-group
                  input#name.form-control(type='text' name='name' placeholder='Your Name' data-rule='minlen:4' data-msg='Please enter at least 4 chars')
                  .validate
                .col-md-6.form-group
                  input#email.form-control(type='email' name='email' placeholder='Your Email' data-rule='email' data-msg='Please enter a valid email')
                  .validate
              .form-group
                input#subject.form-control(type='text' name='subject' placeholder='Subject' data-rule='minlen:4' data-msg='Please enter at least 8 chars of subject')
                .validate
              .form-group
                textarea.form-control(name='message' rows='5' data-rule='required' data-msg='Please write something for us' placeholder='Message')
                .validate
              .mb-3
                .loading Loading
                .error-message
                .sent-message Your message has been sent. Thank you!
              .text-center
                button(type='submit') Send Message
    // End Contact Section
  // End #main
  // ======= Footer =======
  footer#footer
    .footer-top
      .container(data-aos='fade-up')
        .row.justify-content-center
          .col-lg-6
            h3 Bocor
            p
              | Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.
        .row.footer-newsletter.justify-content-center
          .col-lg-6
            form(action='' method='post')
              input(type='email' name='email' placeholder='Enter your Email')
              input(type='submit' value='Subscribe')
        .social-links
          a.twitter(href='#')
            i.bx.bxl-twitter
          a.facebook(href='#')
            i.bx.bxl-facebook
          a.instagram(href='#')
            i.bx.bxl-instagram
          a.google-plus(href='#')
            i.bx.bxl-skype
          a.linkedin(href='#')
            i.bx.bxl-linkedin
    .container.footer-bottom.clearfix
      .copyright
        | &copy; Copyright 
        strong
          span Bocor
        | . All Rights Reserved
      .credits
        // All the links in the footer should remain intact.
        // You can delete the links only if you purchased the pro version.
        // Licensing information: https://bootstrapmade.com/license/
        // Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/bocor-bootstrap-template-nice-animation/
        | Designed by 
        a(href='https://bootstrapmade.com/') BootstrapMade
  // End Footer
  a.back-to-top(href='#')
    i.icofont-simple-up
  // Vendor JS Files
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/vendor/jquery.easing/jquery.easing.min.js')
  script(src='/vendor/php-email-form/validate.js')
  script(src='/vendor/isotope-layout/isotope.pkgd.min.js')
  script(src='/vendor/owl.carousel/owl.carousel.min.js')
  script(src='/vendor/venobox/venobox.min.js')
  script(src='/vendor/aos/aos.js')
  // Template Main JS File
  script(src='/javascripts/main.js')
  script(src='/javascripts/map.js')
