extends ../layout

block content

 .container
  .row
    .col-sm-9.col-md-7.col-lg-5.mx-auto
      .card.card-signin.my-5
        .card-body
          h5.card-title.text-center Sign UP
          form.form-signin(method='POST')
            .form-label-group
              input#inputEmail.form-control(type='email' placeholder='Email address' required='' autofocus='')
              label(for='inputEmail') Email address
            .form-label-group
              input#inputPassword.form-control(type='password' placeholder='Password' required='')
              label(for='inputPassword') Password
            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Sign in
            hr.my-4